@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald);

a {
  outline: 0;
}

/*********************************/
/* Header Styling */
/*********************************/

header {
  margin-bottom: 0.2em;
  min-width: 600px;
}

h1.header {
  text-align: center;
}

a:link.header, a:visited.header, a:hover.header {
  color: #181818;
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  margin: 0.1em auto;
  text-decoration: none;
  text-transform: uppercase;
}

/****************/
/* Body Styling */
/****************/

.bodyTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  margin: 1.4em auto 0.4em auto;
  text-align: center;
  width: 900px;
}

.bodyTitle:first-child {
  margin: 0.4em auto 0.4em auto;
}

.bodySubtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
  margin: 2px auto 2px auto;
  text-align: center;
  width: 900px;
}

a:link.bodyTitleLink, a:visited.bodyTitleLink {
  color: #181818;
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  margin: 0px auto 0px auto;
  text-align: center;
  width: 900px;
}

a:hover.bodyTitleLink {
  color: #8c8c8c;
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  margin: 0px auto 0px auto;
  text-align: center;
  width: 900px;
}

.portfolioImage {
  margin-bottom: 50px;
  margin-top: 0px;
}

.content {
  color: #181818;
  height: 100%;
  margin: auto auto;
  overflow: auto;
  text-align: center;
  width: 900px;
}

.download {
  margin: auto auto;
}

.image1 {
  float: left;
  margin: 10px 25px 10px 25px;
  width: 250px;
}

.image2 {
  float: left;
  margin: 10px 25px 10px 25px;
  width: 550px;
}

.image3 {
  float: left;
  margin: 10px 25px 10px 25px;
  width: 850px;
}

.imagePortfolioMiddle {
  float: left;
  margin: 10px 130px 10px 130px;
  width: 640px;
}

.imageHalf {
  float: left;
  margin: 10px 25px 10px 25px;
  width: 400px;
}

.bodyText1 {
  float: left;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 25px 10px 25px;
  text-align: justify;
  width: 250px;
}

.bodyText2 {
  float: left;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 25px 10px 25px;
  text-align: justify;
  width: 550px;
}

.bodyText3 {
  float: left;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 25px 10px 25px;
  text-align: justify;
  width: 850px;
}

.bodyTextHalf {
  float: left;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 25px 10px 25px;
  text-align: justify;
  width: 400px;
}

.bodyTextCenter {
  float: left;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 25px 10px 25px;
  text-align: center;
  width: 850px;
}

a:link.bodyLink, a:visited.bodyLink {
  color: #181818;
}

a:hover.bodyLink {
  color: #8c8c8c;
}

li.bodyList {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

ul.bodyList {
  list-style-type: none;
  margin: 10px auto 10px auto;
  padding: 0px;
  text-align: center;
}

/******************/
/* Footer Styling */
/******************/

footer {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2em;
  margin-top: 2em;
  min-width: 200px;
  padding-top: 2em;
  text-align: center;
  color: #b3b3b3
}
